<div class="footer-container">
    <div class="footer footer__primary">
        <div class="footer footer__logo-text">
            <img src="/images/th_footer_logo.png" alt="th-logo" class="ft-logo">
            <!-- <p class="logo-text">Ang TrabaHanap ay isang job-hunting site na tutulong sa mga aplikanteng makahanap ng trabaho na malapit sa iyo.</p> -->
        </div>
        <div class="footer footer__menu">
            <div class="">
                <div>Home</div>
                <div>Jobs</div>
            </div>
            <div class="">
                <div class="">Terms & Conditions</div>
                <div class="">Privacy Policy</div>
            </div>
            <div class="">
                <div>About us</div>
                <div>Contact us</div>
            </div>
        </div>
        <div class="footer footer__social">
            <img src="/images/fb-logo.png" alt="fb-logo" class="fb-logo">
        </div>
    </div>
    <div class="footer footer__secondary">
        <div class="secondary-sub">2020 Trabahanap.com All Rigths Reserved.</div>
        <div class="secondary-sub">
            <a href="#" class="sub-link">Terms and Conditions</a>
            <a href="#" class="sub-link">Privacy Policy</a>
        </div>
    </div>
</div>