{{!-- <header class="header-section">
    <a href= "https://8thdd.com/login"><img src="/images/th_logo.png" class="header-section__logo" /></a>
</header>    --}}


<div class="nav-container">
    <nav class="navigation">
        {{!-- <div class="img-container">
            <a href="https://8thdd.com"><img src="/images/th_logo.png" alt="th-logo" class="logo"></a>
        </div> --}}


        <div class="img-container">
            <a class="img-holder" routerLink="/">
                <img src="/images/th_logo-2.png" alt="th-logo" class="logo" />
            </a>
        </div>

        <div class="auth-container">
            <div class="sign-in text-effect">
                <a href="https://8thdd.com/auth/login" class=""><i class=" fa fa-sign-in"></i> Sign In</a>
            </div>
        </div>
    </nav>
</div>